.favorito-principal {
  margin-left: 210px; 
  width: calc(100% - 210px);
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
 
}
/* Estilos para el contenedor general de las tarjetas */
.quick-picks {
  margin-left: 210px;
  width: calc(100% - 210px);
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

/* Estilos de la tarjeta (aplicado a .card2 para igualar a .card3) */
.card2 {
  width: calc(50% - 10px); 
  max-width: 270px; 
  height: 200px; 
  box-sizing: border-box; 
  cursor: pointer; 
  margin: 10px; 
  font-size: 12px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  border-radius: 8px; 
  padding: 10px; 
  transition: transform 0.3s; 
}

.card2:hover {
  transform: scale(1.02); 
}


.card-image2 {
  width: 80px; 
  height: 70px;
  margin-right: 15px; 
  border: 1px solid white;
  border-radius: 4px; 
}


.card-content2 {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}


.titulo {
  font-weight: bold; 
  margin-bottom: 8px; 
}

.artist-name {
  font-size: 14px; 
  color: #555; 
}

.image {
  width: 80px; 
  height: 70px; 
  margin-right: 15px; 
  border: 1px solid white; 
  border-radius: 4px; 
  transform: rotate(360deg); 
  
}