
.cards-container {
    width: 1100px;
    height: auto;
    margin:auto ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
   
  }
  
  .card {
    text-align: center;
    padding: 10px;
   
    width: 150px; 
}  
  .card-image {
    width: 150px;
    height: 150p;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .card-content {
    margin-top: 10px;
  }
  
  .song-title {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .artist-name,
  .album-name {
    font-size: 12px;
    color: #555;
    margin: 3px 0;
  }
  
 
  @media (max-width: 768px) {
    .cards-container {
      width: 100%; 
      gap: 10px; 
    }
  
    .card {
      width: calc(35% - 20px); 
      margin-bottom: 20px; 
      
    }
  }
  