.quick-picks {

  margin-left: 210px; 
  width: calc(100% - 210px); 
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  max-height: 460px;
  overflow: hidden;
 
}

.card3 {
  width: calc(50% - 10px); 
  max-width: 270px;
  height: 200PX;
  box-sizing: border-box;  /*tarjeta*/
  cursor: pointer;
  margin-left: 20PX;
  font-size: 12px;
 
}

.image{
  width: 80px;
  height: 70px;
  margin-top: 15px;
  border: 1PX SOLID white;
}



