
.avatar1{
  width: 1100px;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
 
  
}

.imagen {
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  overflow: hidden; 
  
  
}
.total{
  width: 200px;
  height: auto;
 
}

.imagen:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .avatar1 {
      width: 100%; 
      gap: 2px; 
  }
  
  .card2 {
      width: calc(35% - 20px); 
      margin-bottom: 20px; 
  }
 
}

